body {
    margin: 0px;
    background-color: #CBCBCB;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
    position: relative;
    left: -0px;
    width: 998px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u1_original {
    background-image: url('../envio_files/u1_original.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:2670px;
    height:2080px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:2676px;
    height:2086px;
}

.u2 {
    position:absolute;
    left:2px;
    top:1032px;
    width:2666px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:2670px;
    height:2080px
}

.u3_container {
    position:absolute;
    left:0px;
    top:393px;
    width:1023px;
    height:567px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1023px;
    height:567px;
}

.u4 {
    position:absolute;
    left:2px;
    top:276px;
    width:1019px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:0px;
    top:393px;
    width:1023px;
    height:567px
}

.u5 {
    position:absolute;
    left:39px;
    top:403px;
    width:151px;
    height:70px
}

.u7_original {
    background-image: url('../envio_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:-90px;
    top:-20px;
    width:2550px;
    height:1660px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:2556px;
    height:1666px;
}

.u8 {
    position:absolute;
    left:2px;
    top:822px;
    width:2546px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:-90px;
    top:-20px;
    width:2550px;
    height:1660px
}

.u9_container {
    position:absolute;
    left:0px;
    top:610px;
    width:1022px;
    height:568px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1022px;
    height:568px;
}

.u10 {
    position:absolute;
    left:2px;
    top:276px;
    width:1018px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:0px;
    top:610px;
    width:1022px;
    height:568px
}

.u11 {
    position:absolute;
    left:39px;
    top:620px;
    width:151px;
    height:70px
}

.u12_original {
    background-image: url('../envio_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:37px;
    top:1141px;
    width:961px;
    height:147px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:147px;
}

.u13 {
    position:absolute;
    left:2px;
    top:66px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:37px;
    top:1141px;
    width:961px;
    height:147px
}

.u14 {
    position:absolute;
    left:194px;
    top:1175px;
    width:89px;
    height:13px
}

.u15 {
    position:absolute;
    left:194px;
    top:1189px;
    width:89px;
    height:13px
}

.u16 {
    position:absolute;
    left:437px;
    top:1176px;
    width:50px;
    height:15px
}

.u17 {
    position:absolute;
    left:311px;
    top:1171px;
    width:50px;
    height:25px
}

.u18_original {
    background-image: url('../header_files/u25_original.png');
}

.u18_container {
    position:absolute;
    left:32px;
    top:20px;
    width:152px;
    height:67px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:152px;
    height:67px;
}

.u19 {
    position:absolute;
    left:2px;
    top:26px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:32px;
    top:20px;
    width:152px;
    height:67px
}

.u20_original {
    background-image: url('../header_files/u27_original.png');
}

.u20_container {
    position:absolute;
    left:872px;
    top:20px;
    width:138px;
    height:36px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:138px;
    height:36px;
}

.u21 {
    position:absolute;
    left:2px;
    top:10px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:872px;
    top:20px;
    width:138px;
    height:36px
}

.u23_container {
    position:absolute;
    left:35px;
    top:87px;
    width:963px;
    height:1055px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:963px;
    height:1055px;
}

.u24 {
    position:absolute;
    left:2px;
    top:520px;
    width:959px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:35px;
    top:87px;
    width:963px;
    height:1055px
}

.u26 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:805px;
    top:1020px;
    width:69px;
    height:30px
}

.u30 {
    position:absolute;
    left:880px;
    top:200px;
    width:75px;
    height:20px
}

.u31 {
    position:absolute;
    left:40px;
    top:92px;
    width:140px;
    height:28px
}

.u32 {
    position:absolute;
    left:880px;
    top:1020px;
    width:75px;
    height:30px
}

.u33 {
    position:absolute;
    left:437px;
    top:1188px;
    width:75px;
    height:16px
}

.u34_container {
    position:absolute;
    left:70px;
    top:251px;
    width:894px;
    height:659px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:894px;
    height:659px;
}

.u35 {
    position:absolute;
    left:2px;
    top:322px;
    width:890px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:70px;
    top:251px;
    width:894px;
    height:659px
}

.u36 {
    position:absolute;
    left:190px;
    top:440px;
    width:160px;
    height:22px;
    ;
    background-color:#292728;;
    ;
    font-family:'Arial';
    font-size: 10px;
    color:#FFFFFF;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:190px;
    top:473px;
    width:160px;
    height:22px;
    ;
    background-color:#292728;;
    ;
    font-family:'Arial';
    font-size: 10px;
    color:#FFFFFF;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u38 {
    position:absolute;
    left:190px;
    top:507px;
    width:250px;
    height:25px;
    ;
    background-color:#292728;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:190px;
    top:542px;
    width:250px;
    height:25px;
    ;
    background-color:#292728;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40 {
    position:absolute;
    left:190px;
    top:578px;
    width:250px;
    height:25px;
    ;
    background-color:#292728;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:190px;
    top:614px;
    width:250px;
    height:25px;
    ;
    background-color:#292728;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42 {
    position:absolute;
    left:190px;
    top:650px;
    width:250px;
    height:25px;
    ;
    background-color:#292728;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43 {
    position:absolute;
    left:190px;
    top:688px;
    width:160px;
    height:22px;
    ;
    background-color:#292728;;
    ;
    font-family:'Arial';
    font-size: 10px;
    color:#FFFFFF;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:190px;
    top:721px;
    width:160px;
    height:22px;
    ;
    background-color:#292728;;
    ;
    font-family:'Arial';
    font-size: 10px;
    color:#FFFFFF;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u45 {
    position:absolute;
    left:629px;
    top:440px;
    width:160px;
    height:22px;
    ;
    background-color:#292728;;
    ;
    font-family:'Arial';
    font-size: 10px;
    color:#FFFFFF;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u46 {
    position:absolute;
    left:629px;
    top:470px;
    width:250px;
    height:25px;
    ;
    background-color:#292728;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47 {
    position:absolute;
    left:629px;
    top:505px;
    width:250px;
    height:25px;
    ;
    background-color:#292728;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48 {
    position:absolute;
    left:629px;
    top:541px;
    width:250px;
    height:25px;
    ;
    background-color:#292728;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49 {
    position:absolute;
    left:629px;
    top:577px;
    width:250px;
    height:25px;
    ;
    background-color:#292728;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:630px;
    top:617px;
    width:160px;
    height:22px;
    ;
    background-color:#292728;;
    ;
    font-family:'Arial';
    font-size: 10px;
    color:#FFFFFF;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:630px;
    top:650px;
    width:160px;
    height:22px;
    ;
    background-color:#292728;;
    ;
    font-family:'Arial';
    font-size: 10px;
    color:#FFFFFF;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

