/*
 BRANDS ADD
 * */
.brands.form2 {
	width:50%;
}
.images-div{
	float:left;
	margin-left: 10px;
	overflow: visible;
}

.images-1, .images-2 {
	max-width: 150px;
}

.images-1 img, .images-2 img {
	max-width: 150px;
}
.index td img{
	max-height: 50px;
}
