@charset "UTF-8";
h1, .left_col .contact-box h1{
padding:0;
}
body, p, h3, h4 {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left:auto;
	margin-right:auto;
	
	}

body {
	background-color:#CBCBCB;
}

ul {
    list-style-type: none;
	margin:0;
	padding:0;
}

h1, h2 {
	font-family: "Droid Sans", sans-serif;
	font-weight: lighter;
	}
	
h3, h4 {
	font-family:"Colaborate-Light", sans-serif;
	font-size:12px;
	font-weight: lighter;
	margin-bottom: 4px;
}

h3 {
	color:#5ea4b9;
	font-style:italic;
	}
	
h3 a {
	color:#5ea4b9;
	font-style:italic;
	text-decoration:none;
	}
	
h4 {
	color:#000;
	}
	
h5 {
	font-size:11px;
	}
a.titulos_rosado:visited{
	color: #EC1C75;
}
a.azul:visited{
	color: #00CFB5;
}
select{
	background-color: #333;
	border:1px solid #878787;
	color:#fff;
}
.azul{
	color:#00CFB5;
}
.gris{
	color:#7E7E7D;
}
#container{
	width:980px;
	margin:auto;
}
#content_wrapper {
	min-height: 500px;
	background-color: #282828;
	-moz-box-shadow: 0.9px 0.3px 10px #999;
	-webkit-box-shadow: 0.9px 0.3px 10px #999;
	box-shadow: 0.9px 0.3px 10px #999;
	position: relative;
	min-height: 1014px;
	padding-bottom: 50px;
}
#content {
	width: 730px;
	float:right;
	margin-right: 45px;
	margin-bottom: 70px;
}
#slide_categoria{
	width: 730px;
	height: 262px;
	background-color: #fff;
}
.puntos{
	background-image:url(../img/puntos.png); 
	min-height: 4px;
	background-position: bottom;
	background-repeat: repeat-x;
}
.filtrar .azul{
	font-size: 14px;
}
.azul #tallas{
	margin-left: 3px;
}
.subcategories_index .filtrar{
	padding-top:10px;
	padding-bottom: 10px;
	border-bottom:1px solid #564E1B;
	border-top:1px solid #564E1B;
	margin-top:8px;
	margin-bottom: 10px;
}
.subcategories_index .filtrar li.titulos_rosado{
	margin:0;
	font-size: 14px;
	vertical-align: middle;
}
.subcategories_index .filtrar li.titulos_gris{
	margin:0;
}
.subcategories_index .filtrar li{
	display:inline;
}
.subcategories_index .filtrar li.azul{
	color: #00CFB5;
	vertical-align: middle;
}
.subcategories_index .filtrar li a{
	text-decoration: none;	
	color: #00CFB5;
}
.subcategories_index ul li ul{
	margin-top: 10px;
}
.subcategories_index ul.products li {
	margin-right: 6px;
	float:left;
	margin-bottom:35px;
	
}
.subcategories_index ul.products li h1{
	margin-top:6px;
	margin-bottom: 4px;
	font-size: 13px;
	text-transform: uppercase;
	max-width: 132px;
	height: 24px;
}
ul.products li h2, ul.products li h3{
	padding-left:5px;
	font-style: normal;
	text-transform: uppercase;
	font-size: 10px;
}
ul.products li h3{
	color:#00CFB5;
}
.subcategories_index ul li.info a, .subcategories_index ul li.info img{
	width: 140px;
	height: 210px;
	background-color: #fff;
	display:block;
}


.second_nav {
	width: 100%;
	height: auto;	
	margin-bottom: 10px;
	position: relative;
}
.info_carrito span{
	margin-left: 3px;
	margin-right: 3px;
}
.second_nav .carrito {
	text-decoration: none;
	color:#BCBCBC;
	position: absolute;
	top:13px;
	right: 55px;
	background-image: url(/img/carrito.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 17px;
	font-family: tahoma,Arial, "MS Trebuchet", sans-serif;
	font-size: 15px;
}
.second_nav .info_carrito{
	position: absolute;
	top:32px;
	right: 55px;
	color:#BCBCBC;
	font-size: 12px;
	font-family: tahoma,Arial, "MS Trebuchet", sans-serif;
	text-decoration: none;
}
.second_nav ul{
	display: block;
    margin: 0 auto;
    width: 890px;
    border-bottom:1px solid #564E1B;
    padding-bottom: 7px;
    padding-top:17px;
}
.second_nav ul li{
	display:inline;
	margin-right:60px;
}
.second_nav ul li img{
	vertical-align: top;
}
.sub_category{
	width: 149px;
	background-color: #373737;
	float:left;
	margin-left:45px;
	border-right: 1px solid #F1F1F1;
	min-height: 690px;
}
.sub_category ul{
	margin-top:20px;
}
.sub_category li{
	margin-left: 15px;
	margin-bottom: 30px;
}
.sub_category a {
	text-decoration: none;
	color:#7E7E7D;
	font-family:Tw Cen MT,Arial,sans-serif;
	font-size:16px;
	text-transform: uppercase;
}
.sub_category a:hover{
	color:#00CFB5;
}
/*elemento categoria*/

.category {
	width: 100%;
	height: auto;	
	margin-bottom: 10px;
	position: relative;
}

.category ul{
	display: block;
    margin: 0 auto;
    width: 890px;
    border-bottom:1px solid #564E1B;
    padding-bottom: 17px;
    padding-top:23px;
}
#category #content{
	float:none;
	 margin: 0 auto;
    width: 100%;
}
#category .second_nav{
	display:none;
}
.category ul li .paez{
	background-image: url(/img/paez.png);
	display:block;
	width: 58px;
	height: 23px;
}
.category ul li .paez:hover{
	background-image: url(/img/paez_active.png);
}
.category ul li{
	display:inline;
	margin-right:60px;
	text-transform: uppercase;
}
.category ul li img{
	vertical-align: top;
}
.category ul li a{
	text-decoration: none;
	font-family: Tw Cen MT,Arial, "MS Trebuchet", sans-serif;
	font-size: 16px;
	color:#7E7E7D;
}
.category ul.img_catalogo li{
	width: 140px;
	height: 210px;
	background-color: #DDD;
	display:block;
	float:left;
	margin-right:5px;
}
 .category ul.img_catalogo li img{
	width: 140px;
	height: 210px; 	
 }
.category a.azul{
	float:right;
	margin-top: 7px;
	text-decoration: none;
	margin-right: 42px;
	color: #00CFB5;
}

/*detalle del producto*/

.products_view #detalle_izq{
	float: left;
	width: 330px;
}

#gallery{
	width: 100%;

}
#gallery img.activa{
	height:400px;
	margin-bottom: 4px;
	background-color: #DDD;
	width: 100%;

}
#gallery .prev_gallery{
	margin-right: 4px;
	height: 71px;
	width: 58px;
	float:left;
	background-color: #DDD;
}
#comments {
	background-color: #333333;
	width: 100%;
	margin-top:15px;
}
#comments .comment_header{
	height: 25px;
}
#comments h3{
	font-family: Tw Cen MT,Arial,sans-serif;
	font-size: 10px;
	color:#CBCBCB;
	display:inline;
	margin-left:7px;
	margin-right: 6px;
	font-style: normal;
	padding-bottom: 5px;
	line-height: 27px;
}

#comments .comments{
	margin:0;
	background-color: #191919;
	width: 100%;
	
}
.comments ul{
	float:left;
	padding:13px;
}
.comments ul li.azul{
	color:#00CFB5;
	font-size: 10px;
}
.comments .linea_comment{
	height: 100%;
	border-bottom: 1px solid #494949;
	height: 100%;
    margin: 0 auto;
    width: 96%;
}
.comments p{
	width: 190px;
	float:right;
	padding-top: 13px;
	padding-bottom: 15px;
	padding-right: 12px;
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 12px;
	color:#7E7E7D;
}
#comments a.azul{
	text-align: center;
    text-decoration: none;
    display: block;
    line-height: 50px;
	background:#191919;
	color:#00CFB5;
	padding-top: 13px;
	height: 45px;
	font-size:9px;
}
#comments a.azul:visited{
	color:#00CFB5;
}
.comments ul li.titulos_rosado{
	margin-bottom: 2px;
	font-size: 12px;
	text-transform: uppercase;
}
.products_view #detalle_der{
	float: right;
	width: 371px;
}
.products_view #detalle_der h1.titulos_rosado{
	margin-bottom: 5px;
	font-size: 15px;
}
.products_view #detalle_der .puntos{
	display: block;
	height: 2px;
    text-indent: -999em;
    width: 243px;
    margin-bottom: 6px;
    clear:both;
}
.products_view #detalle_der .product_info{
	margin-top: 25px;
	float:left;
	margin-right: 23px;
}

.products_view #detalle_der .product_info li{
	color:#7E7E7D;
	font-size: 14px;
	font-family: Tahoma,serif;
	margin-bottom: 2px;

}
.products_view #detalle_der .product_info li a{
	color:#BCBCBC;
	font-size: 10px;
}
.products_view #detalle_der .product_info.primero{
	margin-right: 0;
	margin-left: 11px;
}
.products_view #detalle_der .product_info.ultimo{
	margin-right: 0px;
	margin-left:17px;
}
.products_view #detalle_der .product_info li select{
	vertical-align:middle;
	margin-left: 6px;
}
.products_view #detalle_der .product_info li span{
	color:#00CFB5;
}
.agregar{
	width: 100%;
	clear: both;
	margin-top: 25px;
	margin-bottom: 5px;
}
.agregar .add-cart-confirm{
	color:white;
	font-size: 12px;
	margin-top: 5px;
	visibility: hidden;
}
.agregar_carrito , .agregar_regalo{
	width: 120px;
	background-color: #00CFB5;
	float:left;
	margin-right: 5px;
}
.agregar_regalo{
	background-color: #29AAE1;
	width: 137px;
}
.agregar .agregar_carrito h1 , .agregar_regalo h1{
	font-family: Tw Cen MT,Arial, "MS Trebuchet", sans-serif;
	font-size: 14px;
	border:1px solid #6CFFE6;
	padding:3px;
	margin:2px;
}
.agregar .agregar_carrito h1 a , .agregar_regalo h1 a{
	text-decoration: none;
	color:#fff;
}
.shop-cart-item .img_carrito{
	float: left;
}
.shop-cart-item .info-item{
	float: left;
}
.shop-cart-item .titulos_gris{
	margin-left: 10px;
}
#caracteristicas {
	width: 100%;
	margin-top:17px;
}
#caracteristicas p{
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 11px;
	color:#7E7E7D;
	margin-bottom: 10px;
}
.dudas  {
	margin-top: 20px;
	margin-bottom: 25px;
}
ul.social li {
	border:none;
	margin:0;
	padding-right:3px;
	float:left;
	margin-bottom: 4px;
}
#detalle_der h3.titulos_rosado {
	margin-top: 20px;
	font-style: normal;
}
.recomendado {
	width: 69px;
	margin-right: 5px;
	float: left;
}
.recomendado a img{
	width: 68.42px;
	height: 102.63px;
	background-color: #fff;
}
.recomendado h2{
	font-family: Tahoma,serif;
	font-size: 10px;
	color:#7E7E7D;
	margin-top: 5px;
	margin-bottom: 5px;
}
.recomendado h3 {
	font-family: Tahoma,serif;
	font-size: 12px;
	color:#00CFB5;
	font-style: normal;
	width: 66px;
	height: 22px;
}
/*Estilos del Home*/

/* HEADER */

#header {
	height:121px;
	position:relative;
	background-color: #CBCBCB;
}
#header h1 {
	padding-top:16px;
	padding-bottom:20px;
}
#header h1 a {
	background-image:url(../img/logo_header.png);
	background-repeat:no-repeat;
	display:block;
	width:137px;
	height:54px;
	text-indent:-999px;
	
}
#header ul {
	position:absolute;
	top:0;
	right:0;	
	background-color:#7E7E7D;
	padding: 4px 15px;
	border: 1px solid #666666;
	border-top:none;
	border-bottom:none;
	
}
#header ul.tahoma{
	-moz-box-shadow: -0.1px 3.3px 5px #999999;
	-webkit-box-shadow:-0.1px 3.3px 5px #999999;
	box-shadow:-0.1px 3.3px 5px #999999;
}

#header ul li{
	float:left;
	margin-right:3px;
	color:#FFF;	
}
#header ul li.home{
	padding: 1px 23px;
}
/*aqui deben ir los estilos para la propiedad activa del menu del header*/
#header ul li.home.activa{
	
}
/*fin estilos*/
#header ul li.home a{
	font-size: 30px;
}
#header ul li a{
	text-decoration:none;
	color:#FFF;
	font-family:Tahoma;
	font-size:12px;
}
#header .main_nav {
	position:absolute;
	left:0;
	background-color:transparent;
	border:none;
	padding:0px;
	top:89px;
	
	
}
#header .main_nav li {
	
	padding:3px 23px;
	background-color:#F1F1F1;
	margin-right:15px;
	border:1px solid #D2D4D4;
	border-bottom:none;
	-moz-box-shadow: 0.9px 0.3px 10px #999;
	-webkit-box-shadow:0.9px 0.3px 10px #999;
	box-shadow:0.9px 0.3px 10px #999;
}
#header .main_nav li.current{
	position:relative;
	z-index:2;
	box-shadow:0.9px -3.8px 3px  #b1afaf;

}
#category #header .main_nav li.home{
	z-index:0;
}
#header .main_nav li.categoria {
	background-color:#282828;
	background-color: #F1F1F1;
}
#header .main_nav li.categoria.current {
	background-color:#282828;

}
/*aqui deben ir los estilos para la propiedad activa del menu del header*/

#header .main_nav li.categoria.activa{
	z-index: 999;
	box-shadow:none;
}
/*fin estilos*/
#header .main_nav li a {
	color:#00CFB5;
	font-size:25px;
}
#header .main_nav li.categoria a {
	color:#00CFB5;
}
#header .main_nav li.categoria.current a {
	color:#fff;
}

/* CONTENIDO */


#home #content , #pages #content {
	background-color:#F1F1F1;
	border:1px solid #D2D4D4;
	border-top:none;
	-moz-box-shadow: 0.9px 0.3px 10px #999;
	-webkit-box-shadow: 0.9px 0.3px 10px #999;
	box-shadow: 0.9px 0.3px 10px #999;
	float: none;
	width: auto;
	margin:0;
	position: relative;
}
#home form.buscador {
	float:right;
	margin-right:24px;
	margin-top:10px;
	margin-bottom:7px;
}
#home form.buscador input[type=text]{
	width: 300px;
	background-color: #888888;
	color:#fff;
	border:1px solid #D2D4D4;
}
#home form.buscador input[type=submit]{
	width: 17px;
	height: 17px;
	background-color: #00CFB5;
	border:none;
	color: #fff;
	margin-right: 15px;
	padding-left: 3px;
	text-shadow: none;
}
#home #foto_principal {
	text-align:center;
	width:100%;
}
#home #content ul{
	margin-top:10px;
	margin-left:40px;
	
}
#home #content ul li{
	float:left;
	padding-right:11px;
	margin-right:11px;
	border-right: 1px solid #564E1B;
	margin-bottom:25px;
	
}

.titulos_gris {
	color:#888888;
	font-size:16px;
	font-family: Tw Cen MT;
	font-weight:500;
	margin-bottom:6px;
}
#home a.fotos_pequenas {

	width:208px;
	height:104px;
	text-indent:-9999px;
	margin-bottom:12px;
}
	
.titulos_rosado {
	color:#EC1C75;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:12px;
	text-decoration: none;
}
a.titulos_rosado:hover{
	color:#EA3B96;
}
a.azul:hover{
	color:#76F4DF;
}
#comments a.azul:hover{
	color:#76F4DF;
}
#home #content ul li p{
	color:#7E7E7D;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom:37px;

}
#home #content ul li.puntos {
	border-right:none;
}
.subtitulos_gris {
	font-family:Myriad Pro,Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#595959;
	font-weight:500;
	margin-bottom: 4px;
}
h1.fan_page a {
	font-family:Tw Cen MT;
	font-size:33px;
	color:#2E76E7;
	text-decoration:none;
}
#home #content ul li ul.social {
	margin-left:0;
}
#home #content ul li h2 {
	font-size: 15px;
	margin-top: 8px;
}
#home #content ul li.puntos h3{
	font-size: 15px;
}
#home #content ul li ul.social li {
	border:none;
	margin:0;
	padding-right:3px;
	float:left;
}
#home #content ul li.puntos {
	margin-bottom:9px;
	padding-bottom:11px;
}
ul li a.facebook {
	width:34px;
	height:35px;
	text-indent:-9999px;
	background-image:url(/img/facebook.png);
	background-repeat:no-repeat;
	text-decoration:none;
	display:block;
}
ul li a.twitter {
	width:34px;
	height:35px;
	background-image:url(../img/twitter.png);
	background-repeat:no-repeat;
	text-indent:-9999px;
	display:block;
}
#content ul li.puntos#grupo_bb {
	border:none
}
#home #content ul li.puntos#grupo_bb h3{
	font-size:9px;
	margin-bottom:11px;
	font-style: normal;
}

/* PAGINAS ESTATICAS*/
#pages .nav_estaticas{
	margin-top: 15px;
	float: left;
	margin-left: 23px;
}
#pages .puntos{
	clear: both;
    display: block;
    height: 2px;
    margin-bottom: 6px;
    text-indent: -999em;
    width: 243px;
}

#pages .nav_estaticas li{
	display: inline;
	margin-right: 60px;
}
#pages .nav_estaticas li a{
	text-decoration: none;
	font-size: 16px;
	font-family: Myriad Pro, Arial, sans-serif;
	color:#7E7E7D;
}
#pages .nav_estaticas li a:hover{
	color:#00CFB5;
}
#pages #foto_estaticas {
	clear: left;
	margin-left: 23px;
	margin-top: 10px;
	margin-bottom: 95px;
}
#pages #estaticas_info {
	bottom: 179px;
    float: right;
    max-height: 553px;
    margin-right: 40px;
    margin-top: 20px;
    overflow-y: auto;
    position: absolute;
    right: 15px;
    width: 465px;
}
#pages #estaticas_info p{
	color: #7E7E7D;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin-bottom: 30px;
    margin-top: 15px;
}
#pages #estaticas_info h1{
	font-size: 46px;
	margin-bottom: 0px;
}
#pages #estaticas_info h2{
	font-size: 16px;
	margin-bottom: 0px;
}
#pages #estaticas_info .formulario_contacto h2{
	margin-top: 18px;
	margin-bottom: 5px;
}
#pages #estaticas_info .formulario_contacto input[type=text], .formulario_contacto input[type=email]{
	background-color: #888888;
	border:1px solid #D2D4D4;
	width: 363px;
	height: 28px;
	padding:0 3px;
}
#pages #estaticas_info .formulario_contacto{
	width: 363px;
	padding:0 25px;
	border-right:1px solid #564E1B;
	border-left:1px solid #564E1B;
	margin-top: 60px;
}
#pages #estaticas_info .formulario_contacto input[type=submit]{
	background-color: #EC1C75;
	color:#fff;
	height: 28px;
	float: right;
	border:1px solid #FF90C4;

}
#pages #estaticas_info .formulario_contacto textarea.comentario{
	height: 160px;
	margin-bottom: 15px;
	width: 363px;
	background: #888888;
	border:none;
}

#pages .social_estaticas{
	float: left;
	padding-right: 20px;
	border-right:1px solid #564E1B;
	margin-left: 23px;
	margin-bottom: 20px;
	min-height: 60px;
}
#pages .social_estaticas .titulos_rosado{
	font-size: 15px;
}
#pages .social_estaticas .subtitulos_gris.twCenMt {
	font-size: 15px;
}
/* FOOTER */

#footer {
	height:123px;
	background-color:#DDDDDD;
	margin-top:6px;
	border:1px solid #fff;
	-moz-box-shadow: 2px 2px 6px #888;
	-webkit-box-shadow: 2px 2px 6px #888;
	box-shadow: 2px 2px 6px #888;
	background-image:url(../img/logo_footer.png);
	background-repeat:no-repeat;
	background-position: 30px 17px;
}
.linea_footer{
	border: 1px solid #D2D4D4;
    height: 93%;
    margin: 3px auto;
    width: 99%;
}
#footer ul {
    float: left;
    margin-top: 8px;
}
#footer .menu_footer {
	margin-left:150px;
}
#footer .separacion {
	margin-top:32px;
	margin-left:40px;
	margin-right:50px;
}

#footer li a {
	text-decoration:none;
	font-size: 10px;
}
h4.footer {
	color:#7C7C7C;
	font-size:9px;
	padding-top:9px;
	margin-bottom:9px;
	text-align: center;
	background-color: #CBCBCB;
}


/*OVERLAY*/
/* the overlayed element */
.apple_overlay {
		display:none;
		background-image:url(../img/overlay/white.png);
		width:960px;		
		font-size:11px;
	}
.apple_overlay .close {
		background-image:url(../img/close.png);
		position:absolute; right:5px; top:5px;
		cursor:pointer;
		height:35px;
		width:35px;
	}
#overlay ,#overlay2 {

		color:#efefef;
		height:560px;
	}
#overlay2 {
	/*height: 600px;	*/
}
div.contentWrap {
		min-height:531px;
		overflow-y:auto;
	}
.overlay-wrap{
		width:960px;
		height: 531px;
	}
.overlay-wrap .header {
	padding-left: 300px;
	background-color:#cbcbcb;
	background-image: url(../img/logo_header.png);
	background-position: 5% 50%;
	background-repeat: no-repeat;
	height: 105px;
	
	
}
.overlay-wrap .header h2{
	font-size: 22px;
	color:#ec1c75;
	text-transform: uppercase;
	background-color:#dddddd;
	height: 25px;
	margin-top: 20px;
	display: block;
	float: right;
	margin-right: 20px;
	padding: 20px;
	border: solid 1px white;
}

.overlay-wrap .content{
	background-image: url(../img/trama-overlay.png);
	height: 424px;
	padding: 0 20px;
	overflow: auto;
	-moz-box-shadow: 1px 1px 8px #000;
	-webkit-box-shadow: 1px 1px 8px #000;
	box-shadow: 1px 1px 8px #000;
	border-top: solid 2px #494949;
}
#overlay2  .content{
	height: 450px;
}
.overlay-wrap .content .wrapper{
	width: 700px;
	margin:0 auto;
	padding-top: 38px;
	height: 325px;
}
#overlay2 .content .wrapper{
	width:890px;
	padding-top: 33px;
	height: 410px;
}
.overlay-wrap .titulos_rosado{
	text-align: center;
	margin-bottom: 20px;
}
.overlay-wrap form{
	width: 80%;
	margin:0 auto;
	padding: 5px 0;
}
.overlay-wrap form label, .users label{
	margin-left: 15px;
	width: 150px;
	text-align: right;
	float: left;
	margin-bottom: 11px;
	padding-top: 7px;
	color: #00CFB5;
}
.overlay-wrap input,.users  input{
	background: #333333;
	border:1px solid #858585;
	width: 340px;
	float:right;
	margin-right: 35px;
	padding-left: 2px;
	color:#fff;
	margin-bottom: 10px;

}
.overlay-wrap textarea.comentario{
	height: 110px;
	background: #333333;
	width: 340px;
	float:right;
	margin-right: 35px;
	padding-left: 2px;
	color:#fff;
	margin-bottom: 10px;
	border:1px solid #858585;
	font-family: verdana;
    font-size: 12px;
}
.content .input_verde, #content .input_verde{
	background-color: #00CFB5;
	border:1px solid #6CFFE6;
	color:#fff;
	padding:3px 6px;
	width: auto;
	margin-left: 130px;
	margin-top: 15px;
	margin-bottom: 20px;
	float: none;
	
}
.overlay-wrap .content h1.subtitulos_gris{
	float: left;
    margin-bottom: 10px;
    margin-left: 15px;
    text-align: right;
    width: 150px;
}
.overlay-wrap .content .subtitulos_blanco{
	color: #FFFFFF;
    float: right;
    margin-bottom: 12px;
    text-align: left;
    width: 377px;
}
.overlay-wrap .content label.subtitulos_blanco{
	width: 277px;
}
.overlay-wrap .content p.subtitulos_gris{
	padding-top: 10px;
	text-align: center;
	clear: both;
	font-size: 12px;
}
.overlay-wrap form input[type=checkbox]{
	float: left;
    margin-left: 55px;
    margin-right: 0;
    width: 15px;
    margin-top: 6px;
}
.overlay-wrap form.newsletter{
	text-align: center;
		clear: both;
}
.overlay-wrap form.newsletter label{
	margin-left: 0;
}
.overlay-wrap .newsletter_wrapper{
	width: 365px;
	margin: 0 auto;
}
.overlay-wrap form.newsletter .subtitulos_blanco{
	font-size: 12px;
}
.overlay-wrap form.duda input[type=text]{
	height: 110px;
}
/* ESTILOS DEL CARRITO */

.menu_carrito{
	margin-top: 35px;
	float: left;
	margin-left:23px;
	margin-bottom: 30px;
}
.menu_carrito li{
	display: inline;
	
}
.menu_carrito li a{
	color:#fff;
	padding: 0 6px;
	border-right:1px solid #fff;
	text-decoration: none;
}
.menu_carrito li a.azul{
	color:#00CFB5;
}
.menu_carrito li:last-child a{
	border:none;
}
thead th{
	color:#BCBCBC;
	font-size: 13px;
	border-bottom:1px solid #494949;
	height: 25px;
}
tbody tr{
	border-bottom: 1px solid #494949;
}
.quitar a{
	text-decoration: none;
	color:#7E7E7D;
}
tbody tr td{
	padding:5px 0;
	vertical-align: middle;
}
tbody tr td .img_carrito img {
	width: 69px;
	height: 84px;
	background-color: #fff;
	float: left;
	margin-top: 10px;
}
tbody tr td h1 , tbody tr th h2{

	margin-left: 10px;
}
tbody tr td h2.titulos_gris{
	font-size: 12px;
	margin-left: 80px;
}
tbody tr td h1.titulos_rosado{
	margin-top: 30px;
	font-size: 14px;
	margin-bottom: 7px;
	margin-top: 22px;
}
td.descripcion {
	width: 260px;
}
tbody form.marcar_regalo {
	float: left;
	color:#00CFB5;
	font-size: 10px;
	margin-left: 6px;
}
tbody form.marcar_regalo input[type=checkbox]{
	vertical-align: middle;
}
tbody tr .talla{
	width: 138px;
}
tbody tr .talla.quitar {
	width: 60px;
}
tbody tr .talla h1 , tbody tr .talla a{
	font-size: 12px;
	vertical-align: middle;
	color:#7E7E7D;
	text-decoration: none;
}
tbody tr .talla select{
	float: left;
}
table.tahoma {
	margin:0 auto;
}
#cupon{
	float: right;
	width: 400px;
	margin-right: 53px;
	margin-top: 60px;
	text-align: right;
}
#cupon h1 a.titulos_gris {
	display: block;
    text-align: right;
    text-decoration: none;
}
#cupon h1, #cupon form{
	text-align:right;
	font-size: 16px;
}
#cupon label{
	font-size: 16px;
}
#cupon h1 span{
	color:#fff;
	margin-left: 3px;
	
}
#cupon form{
	margin-bottom: 7px;
}
#cupon form  input[type=text]{
	background-color: #333333;
	border:1px solid #858585;
	margin-left: 3px;
	
}
#cupon form  input[type=submit]{
	background-color: #EC1C75;
	border:1px solid #858585;
	color:#fff;
	font-size: 12px;
	width: 65px;
	font-family: tahoma,Arial, "MS Trebuchet", sans-serif;
	margin-left: 5px;
}
#cupon .agregar_regalo{
	width: 139px;
	float: right;
}
#cupon .agregar_regalo.verde{
	width: 76px;
	background-color: #00CFB5;
}
#cupon #btn_cupon{
	float: right;
	width: 400px;
	margin-bottom: 70px;
}
.costo_envio{
	width: 880px;
	color:#BCBCBC;
	font-size: 13px;
	margin-bottom: 20px;
}
.datos_envio.form_envio{
	border-bottom:1px solid #494949;
	padding-bottom:7px;
	border-right: 0 none;
    margin-top: 0;
}
#der.datos_envio.form_envio{
	margin-left:0;
	padding-left: 30px;
}
#der.datos_envio.form_envio h1.der{
	font-size: 13px;
}
.datos_envio h1{
	display:inline;
	font-size: 13px;
	color:#BCBCBC;
}
.datos_envio h1.der{
	margin-right: 0;
}
.datos_envio{
	margin:0 auto;
	width: 880px;
}
.form_envio{
	width: 320px;
	margin-left:50px;
	margin-top:30px;

	padding-right:80px;
	float:left;
}
.form_envio.der{
	padding-right:0;
	border:0;
	padding-left: 30px;
	border-left:1px solid #494949;
	margin-left: 0;
}
.form_envio .form label, .form_envio .form span {
	font-size: 12px;
	color:#7E7E7D;
	float:left;
	width: 108px;
}
.form_envio .form span{
	width: 200px;
}
.form_envio .form input[type=checkbox]{
	display: block;
    float: left;
    margin-top: 8px;
}
.form_envio .form label.azul{
	float: none;
	display: block;
	margin-left: 29px;
    margin-top: 7px;
    color:#00CFB5;
    font-size: 10px;
    width: auto;
}
.form_envio .form input[type=text],.form_envio .form input[type=email], .form_envio .form select, .form_envio .form span{
	margin-bottom: 15px;
}
.form_envio .form select{
	width: 145px;
	height: 20px;
	border:1px solid #858585;
	background-color: #333333;
	margin-left:20px;
}
.form_envio .form input[type=text], .form_envio .form input[type=email]{
	width:180px;
	height: 20px;
	border:1px solid #858585;
	background-color: #333333;
	margin-left:20px;
	color:#fff;
}

.envio_regalo h1{
	font-size: 13px;
	color:#BCBCBC;
	border-bottom:1px solid #494949;
	padding-bottom:7px;
	margin-bottom:15px;
	margin-top:50px;
}
.login_izq{
	width: 410px;
	float:left;
	border-right:1px solid #494949;
	padding-right:30px;
	margin-left:15px;
}
.login_izq:last-child{
	border:none;
	padding-right:0;
}
.login_izq h1.titulos_rosado{
	text-align:left;
	font-size: 20px;
}
.login_izq form{
	float:right;
	width: 383px;
}
.login_izq form label, .olvidar_contr form label, .recomendar form label{
	color:#00CFB5;
	font-size:12px;
	margin-left:0;
	float:left;
	width: 175px;
	text-align: right;
}
.login_izq form input[type=text], .login_izq form input[type=password],.login_izq form input[type=email],.olvidar_contr form input[type=text], .recomendar form input[type=text]{
	width: 193px;
	margin-right:0;
	float:none;
	margin-bottom: 10px;
	margin-left: 5px;
}
.login_izq form input.sexo[type=text]{
	width: 135px;
}
.login_izq form input.fecha[type=text]{
	width: 53px;

}
.login_izq form a.azul{
	color:#00CFB5;
	text-decoration: underline;
	font-size: 10px;
	float: right;
}
.login_izq label.olvidaste{
	display: block;
    float: none;
    margin-left: 111px;
    margin-top: 17px;
    width: 252px;
    text-align: left;
}
.login_izq form input[type=checkbox]{
	float: left;
    margin-left: 91px;
    margin-top: 19px;
}
input[type=submit]{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 2px #000;
}
.login_izq form input[type=submit], .olvidar_contr form input[type=submit], .recomendar form input[type=submit]{
	background-color: #EC1C75;
    float: left;
    margin-left: 92px;
    margin-top: 15px;
    width: 80px;
    border:1px solid #FF7BAB;
    padding: 5px 0;
}
.overlay_social{
	margin-left: 210px;
    margin-top: 156px;
	
}
.overlay_social h1.subtitulos_gris{
	float: left;
    line-height: 39px;
    vertical-align: bottom;
    margin-right: 6px;
}
.recomendar h1.azul{
	color:#00CFB5;
	font-size: 12px;
}
.recomendar form{
	margin-top:30px;
}
.recomendar .overlay_social h1.subtitulos_gris{
	display: inline;
    float: none;
}
.recomendar .overlay_social{
	margin-top:116px;
}
.recomendar .overlay_social ul.social{
	margin-left:24px;
}
.olvidar_contr form label, .recomendar form label{
	border-right: 1px solid #494949;
	padding-right:4px;
}
.buscar .izq{
	width: 250px;
	min-height: 358px;
	float: left;
	border-right:1px solid #494949;
}
.buscar .izq img, .brands .marcas img{
	background-color: #333;
	border:1px solid #858585;
}
.buscar .izq h1, .brands .marcas h1{
	font-size:20px;
	color:#EC1C75;
	margin:0;
	width: 100%;
	float: none;
	margin-left: 10px;
}
.brands .marcas h1{ 
	text-transform: uppercase;
}

.buscar .izq h2, .brands .marcas h2{
	font-size: 14px;
	color:#00CFB5;
	margin:0;
	width: 39%;
	float: left;
	margin-left: 10px;
}
.buscar .izq h3, .buscar .der h3{
	font-size: 12px;
	color:#7E7E7D;
	margin-bottom: 25px;
	font-style: normal;
}
.izq .marcas{
	margin-bottom:25px;
}
.buscar .der{
	width: 605px;
	min-height: 358px;
	float: left;
	padding-left: 25px;
}
.brands{
	margin-top:20px;
}
.brands .marcas{
	width: 230px;
	border-right:1px solid #494949;
	height: 70px;
	float: left;
}
.brands .marcas img{
	margin:0;
}
.brands .marcas{
	margin-bottom: 25px;
}
.brands p{
	width: 450px;
	font-size: 12px;
	float: right;
	color:#7E7E7D;
}
.add-cart-confirm a{
	color:#EC1C75;
}
/*ESTILOS EXCLUSIVOS LISTADO PRODUCCTOS BUSQUEDA*/
#overlay2 ul.products{
	margin:0 auto;
	width: 585px;s
}
#overlay2 ul.products li {
	margin-right: 6px;
	float:left;
	margin-bottom:35px;
	
}
#overlay2  ul.products li h1{
	margin-top:6px;
	margin-bottom: 4px;
	font-size: 13px;
	text-transform: uppercase;
}

#overlay2  ul li.info a, #overlay2  ul li.info img{
	width: 140px;
	height: 210px;
	background-color: #fff;
	display:block;
}

/* error message */
.error {
	height:15px;
	background-color:#00CFB5;
	font-size:11px;
	border:1px solid #50efd8;
	padding:3px 3px;
	color:#000;
	display:none;	
	z-index:10000;
	-moz-border-radius:4px;
	-webkit-border-radius:4px; 
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-topleft:0;	
	-webkit-border-bottom-left-radius:0; 
	-webkit-border-top-left-radius:0;
	
	
}

.error p {
	margin:0;		
}
.paging{
	color:#7e7e7d;
	text-align:center;
	font-size:11px;
}
.paging .disabled{
	color: #7e7e7d;
}
.paging .current{
	color: #7e7e7d;
}
.paging a{
	color: #00CFB5;
	text-decoration: none;
}
.ir{
	margin-left: 5px;
	text-decoration: none;
	margin-top: -2px;
}

/*PROFILE*/
table td.first{
	text-align: right;
	color: #00CFB5;
	width: 200px;
	padding-right: 20px;
}
table td.second{
	width:200px;
	text-align: left;
	color: #7E7E7D;
	padding-left: 20px;
}
.profile{
	padding: 50px;
	width: auto;
}
.profile table.tahoma{
	margin: 0;
}
.profile.category ul{
	margin: 0;
	
}
.profile.category ul li{
	margin-bottom: 5px;
	
}
table.recibo {
	margin-left:50px;
	margin-top:37px;
	border-right: 1px solid #7E7E7D;
	
	
}
.recibo tr{
	border:none;
	
}
.recibo td{
	padding-left:25px;
	
}
.recibo td.azul{
	text-align: right;
}
.recibo td.gris{
	text-align: left;
	padding-right:50px;
}
h1.recibo, h1.orden{
	width: 885px;
	color:#fff;
	text-align: left;
	border-bottom:1px solid #7E7E7D;
	font-size:16px;
	margin:0 auto;
	padding-bottom:50px;
	padding-top:50px;
}
h1.orden{
	padding-bottom: 15px;
	margin-bottom: 25px;
	padding-top: 0;
}
.submit_rosado{
	background-color: #EC1C75;
	border:1px solid #FF7BAB;
	color:#fff;
	padding:4px 15px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 2px #000;
	margin-top: 130px;
	margin-left: 240px;
}
#create-comment textarea{
	border: 1px solid #7E7E7D;
	color: #fff;
}
#shop-cart-list.tahoma{
	margin:0 auto;
}
.volver{
	margin-top: 10px;
}
.solicitud-registro{
	background: #191919;
	height: 74px;
	width: 100%;
	text-align: center;
}
.solicitud-registro .titulos_rosado{
	font-size: 12px;
	margin-bottom: 3px;
	padding-top: 25px;
}
.solicitud-registro .azul{	
	font-size: 10px;	
}
#rememberForm, .confirmacion-remember{
	display: none;
}
.profile.category ul .azul a{
	color: #00CFB5;
}
.users form{
	padding: 50px;
	position: relative;;
}
.users fieldset{
	width: 64%;
}
.users label{
	margin-bottom: 5px;
	
}
.users select#UserFieldBirthdayMonth, .users select#UserFieldSex{
	margin-bottom: 9px;
    margin-left: 20px;
}
.volver_profile{
	position: absolute;
    right: 50px;
    text-decoration: none;
    top: 100px;
}
.users h1{
	color:#EC1C75;
	font-size: 20px;
	
}
