/**
 *
 * Project front css
 *
 * bloom team : blooom web compay www.bloomweb.co
 * @since         CakePHP(tm)
 * @l
 */
 /*GENERAL STYLES*/
 * {
	margin:0;
	padding:0;
}
body{
 	
 }
a {
	color: #003d4c;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: #367889;
	text-decoration:none;
}
a img {
	border:none;
}
h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom:0.5em;
}
h1 {
	background:#fff;
	color: #003d4c;
	font-size: 100%;
}
h2 {
	background:#fff;
	color: #e32;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 190%;
}
h3 {
	color: #993;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 165%;
}
h4 {
	color: #993;
	font-weight: normal;
}

 /* LAYOUT STYLES*/
 #container{
 	position:relative;
 	margin:0 auto;
 	width:1024px;
	height:600px;
	overflow:hidden;
 }
 #content{
 	width:70%;
 	height:100%;
 	float:left;
 	background:gray;
 }
 #my-profile{
 	float:left;
 	width:30%;
 	background:black;
 	height:100%;
 }
#panes{
	position:absolute;
	top:0;
	background:black;
	height:100%;
	width:717px;/*tab (80) + body (637)*/
	right:-637px;/*717-80*/
}
#panes .pane{
	position:absolute;
	top:0;
	background:#D9DAE0;
 	height:100%;
 	width:717px;
 	overflow:hidden;
 	left:0;
 	
}
#panes div.pane.open{
}
	
.tab{
 	width:80px;
 	height:150px;
 	cursor:pointer;
 	position:absolute;
 	z-index:10000;
}
.pane .tab{
	
}
.pane .body{
	margin-left:80px;
	width:637px;
}
div.profile{
  	background:magenta;
  	top:0;
  }
 div.teams{
  background:green;	
  top:150px;
}
div.payfoll{
   background:#00e5fd;
   top:300px;
 }
 div.challenges{
  	background:red;
  	top:450px;
}
/*PROFILE*/
#tabs .wrapper .profile .notifications{
	
}

/*TEAMS*/

/*PAYFOLL*/

/*CHALLENGES*/