.users{
	width: 90%;
	margin: 0 auto;

}
.users p, .users label, .users span, .users a, .users h1, .users h2, .users h3,{
	font-family: Arial, Helvetica, sans-serif;
	color: #424242;
	
}
.users ul{
	border-bottom: 1px solid #CBCACA;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    margin-bottom:30px;
}
.users li{
	float: left;
	margin-right: 10px;
}
.users li a, .datos_perfil h1, .datos_perfil h2{
	text-decoration: none;
	color: #424242;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}
.users li.ultimo a{
	border: none;
}
.users li a{
	border-right: 1px solid #CBCACA;
    padding-right: 18px;
}
.datos_perfil{
	float: left;
	width: 385px;
	margin-bottom: 30px;
	margin-left: 40px;
	margin-top: 50px;
}
.datos_perfil a{
	font-size: 11px;
	color: #ff7800;
	text-decoration: none;
	float: right;
	margin-top: 10px;
	font-weight: bold;
}
.users .carrito{
	background-image: url("/img/flecha_siguiente_paso.png");
    background-position: right top;
    background-repeat: no-repeat;
    color: #FF7800;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    width: 112px;
    float: none;
    margin: 0;
}
.datos_perfil.primero{
	width: 200px;
}
.datos_perfil h1,.datos_perfil h2, .comprados h1{
	font-size: 25px;
    font-weight: normal;
    margin-bottom: 18px;
}
.datos_perfil h2{
	display: inline;
    float: left;
    font-size: 18px;
    margin-bottom: 8px;
    width: 156px;
}
.datos_perfil span{
	display: block;
    float: left;
    font-family: arial;
    font-size: 16px;
    margin-bottom: 11px;
    text-align: left;
    width: 188px;
}
.comprados h1{
	margin-left: 40px;
	color:#424242;
}
.users h2{
	display: block;
    float: left;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;
    width: 108px;
    font-weight: bold;
    clear:left;
}
.users span{
	float: left;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 15px;
}
.users .datos_perfil p{
	clear: both;
	font-size: 11px;
}
.comprados{
	width: 100%;
}
.comprados h3{
	border-bottom: 1px solid #bcbcbc;
	font-size: 12px;
	padding-bottom: 10px;
}
.users .producto{
	margin: 0;
	margin-bottom: 20px;
	margin-left: 26px;
}
.users .producto.primero{
	margin-left: 0;
}
.register legend, .login legend, #contacto h1{
	border-bottom: 1px solid #BCBCBC;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 15px;
    color: #424242;
}
.register label, .correo, .login label, #contacto label{
  	color: #424242;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    width: 130px;
    margin-bottom: 5px;
    font-weight: bold;
    padding-top: 5px;
}
.register input, #UserEmail, .login input, #contacto input, #contacto textarea,.register select{
	margin-bottom: 5px;
	font-family: Arial,Helvetica,sans-serif;
	padding-left: 3px;
	width: 250px;
	border: 1px solid #BCBCBC;
	height: 20px;
	color: #424242;
	font-size: 12px;
	font-weight: bold
}
.register select{
	height: 24px;
    padding-top: 3px;
    width: 150px;
}
#contacto textarea{
	height: 60px;
	max-width: 250px;
	min-width: 250px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.btn_wrraper{
	width: 421px;
	height: auto;
}
.submit input,.contacto .submit{
	background-color: transparent;
    background-image: url("/img/btn_login.png");
    border: medium none;
    float: right;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    width: 79px;
    color: #fff;
    margin-top: 4px;
    cursor: pointer;
}

.login .submit.primero{
	background-color: transparent;
    background-image: url("/img/btn_login.png");
    border: medium none;
    float: right;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    margin-top: 4px;
    width: 79px;
    background-repeat: no-repeat;
    padding-left: 6px;
    padding-top: 6px;
}
.tooltip_login{
	background-color: #323232;
    border-radius: 5px 5px 5px 5px;
    height: 130px;
    position: absolute;
    right: 310px;
    top: 120px;
    width: 280px;
    border: 1px solid #868686;
    -moz-box-shadow: 2px 2px 4px #6A6A6A;
	-webkit-box-shadow: 2px 2px 4px #6A6A6A;
	box-shadow: 2px 2px 4px #6A6A6A;
	display: none;
}
.tooltip_login label{
	color: #FFFFFF;
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin: 20px 8px 0 10px;
    text-align: right;
    width: 68px;
}
.tooltip_login .input_text{
	float: left;
	width: 180px;
	margin-top: 15px;
	margin-bottom: 0;
	color:#323232;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 18px;
}
.tooltip_login .btn_login{
	background-image: url(/img/btn_login.png);
	width: 79px;
	height: 25px;
	background-color: transparent;
	border:none;
	font-size: 12px;
	font-weight: bold;
	float: right;
	margin-top: 7px;
	cursor: pointer;
}
.tooltip_login input.btn_login{
	margin-right: 8px;
}
.tooltip_login a.btn_login{
	background-repeat: no-repeat;
    padding-left: 6px;
    padding-top: 6px; 
}
.correo{
	width: auto;
	margin-right: 10px;
}
.input.text, .input.password, .input.select{
	padding-left: 15px;
}
#rememberForm input[type=submit]{
	margin-left: 381px;
}
#rememberForm p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 15px;
}

div.form2{/*Form whith image*/
	float:left;
	width:60%;
}
div.images{
	float:right;
	width:35%;

}
div.images .preview{

}
div.images .preview  img{
	max-width:100%;
}
.menu_usuario ul{
	margin-left: 15px;
}
.menu_usuario li{
	float: left;
	border-right: 1px solid #818181;
	padding-right: 15px;
	margin-right: 15px;
	
}
.menu_usuario li a{
	font-size: 12px;
}
.centrar{
	padding: 12px 20px 0;

}
.message{
	color: red;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    margin-left: 36px;
    margin-top: 11px;
    width: 208px;
}
