body {
    margin: 0px;
    background-color: #CBCBCB;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
    position: relative;
    left: -0px;
    width: 998px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u1_original {
    background-image: url('../carrito_de_compras_files/u1_original.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:2670px;
    height:2080px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:2676px;
    height:2086px;
}

.u2 {
    position:absolute;
    left:2px;
    top:1032px;
    width:2666px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:2670px;
    height:2080px
}

.u3_container {
    position:absolute;
    left:0px;
    top:393px;
    width:1023px;
    height:567px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1023px;
    height:567px;
}

.u4 {
    position:absolute;
    left:2px;
    top:276px;
    width:1019px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:0px;
    top:393px;
    width:1023px;
    height:567px
}

.u5 {
    position:absolute;
    left:39px;
    top:403px;
    width:151px;
    height:70px
}

.u7_original {
    background-image: url('../carrito_de_compras_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:-90px;
    top:-20px;
    width:2550px;
    height:1660px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:2556px;
    height:1666px;
}

.u8 {
    position:absolute;
    left:2px;
    top:822px;
    width:2546px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:-90px;
    top:-20px;
    width:2550px;
    height:1660px
}

.u9_container {
    position:absolute;
    left:0px;
    top:610px;
    width:1022px;
    height:568px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1022px;
    height:568px;
}

.u10 {
    position:absolute;
    left:2px;
    top:276px;
    width:1018px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:0px;
    top:610px;
    width:1022px;
    height:568px
}

.u11 {
    position:absolute;
    left:39px;
    top:620px;
    width:151px;
    height:70px
}

.u12_original {
    background-image: url('../carrito_de_compras_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:37px;
    top:1143px;
    width:961px;
    height:147px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:147px;
}

.u13 {
    position:absolute;
    left:2px;
    top:66px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:37px;
    top:1143px;
    width:961px;
    height:147px
}

.u14 {
    position:absolute;
    left:194px;
    top:1177px;
    width:89px;
    height:13px
}

.u15 {
    position:absolute;
    left:194px;
    top:1191px;
    width:89px;
    height:13px
}

.u16 {
    position:absolute;
    left:437px;
    top:1178px;
    width:50px;
    height:15px
}

.u17 {
    position:absolute;
    left:311px;
    top:1173px;
    width:50px;
    height:25px
}

.u18_original {
    background-image: url('../header_files/u25_original.png');
}

.u18_container {
    position:absolute;
    left:32px;
    top:20px;
    width:152px;
    height:67px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:152px;
    height:67px;
}

.u19 {
    position:absolute;
    left:2px;
    top:26px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:32px;
    top:20px;
    width:152px;
    height:67px
}

.u20_original {
    background-image: url('../header_files/u27_original.png');
}

.u20_container {
    position:absolute;
    left:872px;
    top:20px;
    width:138px;
    height:36px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:138px;
    height:36px;
}

.u21 {
    position:absolute;
    left:2px;
    top:10px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:872px;
    top:20px;
    width:138px;
    height:36px
}

.u23_container {
    position:absolute;
    left:35px;
    top:86px;
    width:963px;
    height:1058px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:963px;
    height:1058px;
}

.u24 {
    position:absolute;
    left:2px;
    top:521px;
    width:959px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:35px;
    top:86px;
    width:963px;
    height:1058px
}

.u25 {
    position:absolute;
    left:628px;
    top:386px;
    width:52px;
    height:22px;
    ;
    background-color:#292728;;
    ;
    font-family:'Arial';
    font-size: 10px;
    color:#FFFFFF;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:628px;
    top:500px;
    width:52px;
    height:22px;
    ;
    background-color:#292728;;
    ;
    font-family:'Arial';
    font-size: 10px;
    color:#FFFFFF;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:628px;
    top:614px;
    width:52px;
    height:22px;
    ;
    background-color:#292728;;
    ;
    font-family:'Arial';
    font-size: 10px;
    color:#FFFFFF;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:760px;
    top:930px;
    width:120px;
    height:25px;
    ;
    background-color:#333333;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#FFFFFF;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:740px;
    top:1020px;
    width:130px;
    height:30px
}

.u30 {
    position:absolute;
    left:40px;
    top:92px;
    width:140px;
    height:34px
}

.u32 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_container {
    position:absolute;
    left:0px;
    top:0px;
    width:901px;
    height:121px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:901px;
    height:121px;
}

.u39 {
    position:absolute;
    left:2px;
    top:52px;
    width:897px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:0px;
    top:0px;
    width:901px;
    height:121px
}

.u41 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:563px;
    top:45px;
    width:52px;
    height:22px;
    ;
    background-color:#292728;;
    ;
    font-family:'Arial';
    font-size: 10px;
    color:#FFFFFF;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u43 {
    position:absolute;
    left:905px;
    top:384px;
    width:50px;
    height:30px
}

.u44 {
    position:absolute;
    left:905px;
    top:493px;
    width:50px;
    height:30px
}

.u45 {
    position:absolute;
    left:905px;
    top:609px;
    width:50px;
    height:30px
}

.u46 {
    position:absolute;
    left:905px;
    top:725px;
    width:50px;
    height:30px
}

.u48_original {
    background-image: url('../carrito_de_compras_files/u48_original.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:0px;
    width:910px;
    height:466px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:916px;
    height:472px;
}

.u49 {
    position:absolute;
    left:2px;
    top:225px;
    width:906px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:910px;
    height:466px
}

.u50 {
    position:absolute;
    left:840px;
    top:870px;
    width:120px;
    height:30px
}

.u51 {
    position:absolute;
    left:880px;
    top:1020px;
    width:70px;
    height:30px
}

.u52 {
    position:absolute;
    left:437px;
    top:1192px;
    width:75px;
    height:16px
}

